[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization/
	branch = dunfell
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi/
	branch = dunfell
